page-register {


    ion-row{
        border: 2px solid #FF66C4;
        border-radius: 50px;
        margin:5px;
    }
ion-item{

    margin-top: 25px;
}
.icon{
    
    padding-top: 10%;
    font-size: 1000%;
    color: #38B6FF
}
.input{
    color: white;
}
}
