page-home {
    .bg-style{
    background: url(../../assets/imgs/1.png) no-repeat fixed center ;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
}
.but{
   text-align: center; 
   padding-top: 120% ;
}
}
